%nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} Kendall
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{href: "#"} My Blog
      %li
        %a{href: "#"} Reports
  / /.navbar-collapse
.container
  .row
    .col-xs-12
      %h1 Hello, Rails
      = link_to "My Blog", posts_path, :class => 'btn btn-default'
