%nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} Brand
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{href: "#"} Link
      %li
        %a{href: "#"} Link
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
          %li.divider
          %li
            %a{href: "#"} One more separated link
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "#"} Link
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
  / /.navbar-collapse
.container
  .row
    .col-xs-12
      %h1 Hello, Rails
      = link_to "My Blog", posts_path, :class => 'btn btn-default'
      %br
      %br
      %br
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .left-float
        left-float
      .another-float
        another-float
      %br
      %br
      %br
  .row
    .col-sm-2.hidden-xs
      .nav-box{"data-offset-top" => "230", "data-spy" => "affix"}
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{href: '#one'}
              one
          %li
            %a{href: '#two'}
              two
          %li
            %a{href: '#three'}
              three
    .col-sm-10.col-sx-12
      .row#one
        .col-sm-12.col-md-12
          %h1 FIRST HEADLINE
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .row#two
        .col-sm-12.col-md-6.bootstrap-col-demo
          %h3
            col-sm-12 &nbsp;&nbsp;&nbsp;&nbsp; col-md-6
          %br
          %br
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %i.fa.fa-cog
        .col-sm-12.col-md-6.bootstrap-col-demo
          %h3
            col-sm-12 &nbsp;&nbsp;&nbsp;&nbsp; col-md-6
          %br
          %br
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %i.fa.fa-flag
      .row
        .col-md-1.bootstrap-col-demo
          1
      .row
        .col-md-2.bootstrap-col-demo
          2
      .row
        .col-md-3.bootstrap-col-demo
          3
      .row
        .col-md-4.bootstrap-col-demo
          4
      .row
        .col-md-5.bootstrap-col-demo
          5
      .row
        .col-md-6.bootstrap-col-demo
          6
      .row
        .col-md-7.bootstrap-col-demo
          7
      .row
        .col-md-8.bootstrap-col-demo
          8
      .row
        .col-md-9.bootstrap-col-demo
          9
      .row
        .col-md-10.bootstrap-col-demo
          10
      .row
        .col-md-11.bootstrap-col-demo
          11
      .row#three
        .col-md-12.bootstrap-col-demo
          12