.row
  .col-sm-12.col-md-12
    %h1 Hello, Rails
    = link_to "My Blog", posts_path, :class => 'btn btn-default'
.row
  .col-sm-12.col-md-6.bootstrap-col-demo
    col-sm-12 &nbsp;&nbsp;&nbsp;&nbsp; col-md-6
  .col-sm-12.col-md-6.bootstrap-col-demo
    col-sm-12 &nbsp;&nbsp;&nbsp;&nbsp; col-md-6

.row
  .col-sm-3.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1
  .col-sm-3.hidden-sm.col-md-1.bootstrap-col-demo
    col-sm-3 &nbsp;&nbsp;&nbsp;&nbsp; col-md-1