// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bootstrap-col-demo {
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
  @include border-radius(4px, 4px);
}

.nav-box {
  border: 1px solid #cccccc;
  @include border-radius(4px);
}

#one, #two, #three {
  height: 700px;
}

.affix {
  position: fixed;
  top: 30px;
  width: 11.6667%
}
